body{
	margin:0;
	padding:0;
}

.navbar{
	background-color: rgba(39, 48, 53, 0.5);
	border:transparent;
	font-weight: bold;
	padding-top:40px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-toggle{
	color: white;
	border:transparent;
	width: 100px;	
	height: 50px;
	font-weight: bold;
}

.navbar-toggle .icon-bar{
	margin-left: 60px;
	margin-top:-30px;
	
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: white;

}
#menuchico{
	margin-left: -25px;
	margin-top:-3px;
}

#start{
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 200%;
    z-index: 100;
}


.primersection{
	padding-bottom: 15%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

}

.img-responsive{
	width:100%;
	height:80vh;
}

.titulos{
	margin-top: -30%;
		
}

h1{
	font-size: 50px;
	color: $color-titulos;
	margin-top:-40%;
}

.boton-know{
	margin-top: -40%;	
	margin-left: 60%;
}

.btn-uno{
	background-color:$background-boton-celeste;
	color: white;
	padding: 10px 35px;
	border-radius: 4px;
	border: transparent;
	font-size: 18px;
}

.btn-uno:hover{
	background: $background-boton-uno;
	color: white;
}

.boton-buy{
	margin-top: -40%;	
	margin-right: 60%;
	border-radius: 4px solid #73baae;
}

.btn-dos{
	background-color:transparent;
	color: white;
	padding: 10px 35px;
	border-radius: 4px;
	font-size: 18px;
}

.btn-dos:hover{
	background:transparent;
	color: white;	
}

/*section our service*/
#service{
	background-color: $background-fondo;
	height: 50vh;
	}

.titulo{
	margin-top:-13%;
	color:$color-black;
}

hr{
	width: 150px;
	border: 1px solid #73baae;
}

.foto{
	border:8px solid $background-boton-celeste;
	border-radius: 1000px;
	width:55%;
	height:55%;
	padding: 20px 20px;
	margin-left: 20%;
}

.texto-2{
	color: $color-black;
}

p{
	color: $color-gray;
	text-align: justify;
	width: 80%;
	margin-left: 10%;
}

.btn-tres{
	background-color: #73baae;
	color: $color-titulos;
	border: none;
	padding: 10px 70px;
	border-radius: 10px;
	font-size: 17px;
	font-weight: bold;
}

.btn-tres:hover{
	background: $backgroun-boton-rojo;
	color: white;
}

/*section about*/

.cel{
	margin-top: 10%;
}