
$background-fondo: #e8f1f1;
$background-fondo-dos: #f9f9f9;
$background-boton-uno: #b20c72;
$backgroun-boton-rojo: #f91128;
$background-boton-celeste: #73baae;
$color-titulos: white;
$color-botones: white;
$color-black: black;
$color-gray: #8e8d8d;
$color-parrafo: #a4b4be;
$color-mini-texto: #6bbeb6;
$color-icono: #6bbeb6;

